<div class="panel panel-default">
  <div class="panel-heading">
    <h4>タイトル：<%= board.title %></h4>
  </div>
  <div class="panel-body">
    <p class="card-text">本文：<%= simple_format(board.body) %></p>
    <p class="text-right font-weight-bold mr-10">投稿者名：<%= board.name %></p>
  </div>
</div>